@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html,
body,
:root {
  height: 100%;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #EFF1F7;
}

#sidebar {
    width: 7rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sidebar-content-section {
    width: 100%;
    position: relative;
}

#profile-section {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#sidebar-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

#logout-section {
    margin-bottom: 2rem;
}

.sidebar-active {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#active-line {
    position: absolute;
    width: 0.35rem;
    right: 0;
    top: -50%;
}

main {
    margin-left: 9rem;
    margin-right: 2rem;
    margin-top: 4rem;
    position: relative;
}

#page-title {
    color: #EA5B5B;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    margin-top: 5rem;
  }
  .slide-content{
    margin: 0 40px;
  }
  .card{
    width: 320px;
    border-radius: 25px;
    background-color: #FFF;
  }

  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#EA5B5B;
    border-radius: 25px 25px 0 25px;
  }

  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:#EA5B5B;
  }

  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }

  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }

  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }

  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }

  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0px solid #EA5B5B;
  }

  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }

  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }

  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #EA5B5B;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
  }

  .button:hover{
    background: #EA5B5B;
  }
