@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html,
body,
:root {
  height: 100%;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #EFF1F7;
}

#sidebar {
    width: 7rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sidebar-content-section {
    width: 100%;
    position: relative;
}

#profile-section {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#sidebar-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

#logout-section {
    margin-bottom: 2rem;
}

.sidebar-active {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#active-line {
    position: absolute;
    width: 0.35rem;
    right: 0;
    top: -50%;
}

main {
    margin-left: 9rem;
    margin-right: 2rem;
    margin-top: 4rem;
    position: relative;
}

#page-title {
    color: #EA5B5B;
}

#notification-button,
#setting-button {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

#notification-button:hover,
#setting-button:hover {
    cursor: pointer;
}

#title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#accessibility-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    background-color: transparent;
}

#accessibility-button:hover {
    cursor: pointer;
}