html,
body,
:root {
  height: 100%;
}

body {
  background-color: #EFF1F7;
}

#sidebar {
    width: 7rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sidebar-content-section {
    width: 100%;
    position: relative;
}

#profile-section {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#sidebar-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

#logout-section {
    margin-bottom: 2rem;
}

.sidebar-active {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#active-line {
    position: absolute;
    width: 0.35rem;
    right: 0;
    top: -50%;
}