html,
body,
:root {
  height: 100%;
}

body {
  background-color: #EFF1F7;
}

#sidebar {
    width: 10rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sidebar-content-section {
    width: 100%;
    position: relative;
}

#profile-section {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#sidebar-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* add gap in space between */
    gap: 1.5rem;
    margin-top: 2.5rem;
}

#logout-section {
    margin-bottom: 1rem;
}